@media screen and (max-width:1125px) {
    footer {

        .redes {
            a {
                img {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
}

@media screen and (max-width:880px) {
        footer {
        .redes {
            a {
                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }

        .dejanos-un-comentario {
            textarea {
                height: 75px;
                width: 230px;
            }
        }
    }
}

@media screen and (max-width:550px) {
    footer {
        .redes {
            a {
                
                img {
                    width: 55px;
                    height: 55px;
                }
            }
        }

        .dejanos-un-comentario {
            textarea {
                height: 60px;
                width: 140px;
            }
        }
    }
}
